/* Selectors */
/* tag -> nothing(just name of tag) */
/* class -> dot(.) */
/* id -> sharp(#) */

@import "card.css";

:root
{
    /* user defined global variables */
}

body {
    position: relative;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: block;
}

.header-container {
    background-color:#4CAF50;
    margin: auto;
    text-align: left;
}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav #sidebar {
    background-color: #555;
}

.topnav a{
    color: white;
    text-decoration: none; /* delete underline, italic, bold, etc. */
    display: inline-block;
    margin: 0px 10px;
}

.topnav a:hover {
    color: red;
}
